@charset "UTF-8";
/* CSS Document */








table {

	margin:0 auto;

	font-family:Verdana, Arial, Helvetica, sans-serif;
}




#page {

	width: 900px;

	margin: 0px auto;

	padding: 0px 0px;
}



/* Content */


/* Give anything a class="hidden" tag to hide it in white. this will override any colors set anywhere else in CSS */

.hidden {
	color: #ffffff !important;}

.temptitle {
	background: #000000;

	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	font-size: 1.2em;

	color: #FFFFFF;
	font-weight: bold;}